<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.openrelix.nightly-finalize-previous-day</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/run_with_optional_caffeinate.sh</string>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/nightly_finalize_previous_day.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AI_ASSET_STATE_DIR</key>
    <string>__STATE_ROOT__</string>
    <key>AI_ASSET_KEEP_AWAKE</key>
    <string>__KEEP_AWAKE__</string>
    <key>CODEX_BIN</key>
    <string>__CODEX_BIN__</string>
    <key>CODEX_HOME</key>
    <string>__CODEX_HOME__</string>
    <key>CLAUDE_BIN</key>
    <string>__CLAUDE_BIN__</string>
    <key>CLAUDE_CONFIG_DIR</key>
    <string>__CLAUDE_HOME__</string>
    <key>CLAUDE_HOME</key>
    <string>__CLAUDE_HOME__</string>
    <key>OPENRELIX_ACTIVITY_SOURCE</key>
    <string>__ACTIVITY_SOURCE__</string>
    <key>OPENRELIX_ACTIVITY_HOST</key>
    <string>__ACTIVITY_HOST__</string>
    <key>OPENRELIX_MODEL_CLI</key>
    <string>__MODEL_CLI__</string>
    <key>OPENRELIX_CLAUDE_MODEL</key>
    <string>__CLAUDE_MODEL__</string>
    <key>OPENRELIX_CLAUDE_SETTINGS</key>
    <string>__CLAUDE_SETTINGS__</string>
    <key>OPENRELIX_CLAUDE_ENV_FILE</key>
    <string>__CLAUDE_ENV_FILE__</string>
    <key>PATH</key>
    <string>__SAFE_PATH__</string>
    <key>PYTHON_BIN</key>
    <string>__PYTHON_BIN__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>__NIGHTLY_FINALIZE_HOUR__</integer>
    <key>Minute</key>
    <integer>__NIGHTLY_FINALIZE_MINUTE__</integer>
  </dict>
  <key>StandardErrorPath</key>
  <string>__STATE_ROOT__/log/nightly-finalize.err.log</string>
  <key>StandardOutPath</key>
  <string>__STATE_ROOT__/log/nightly-finalize.log</string>
</dict>
</plist>
