<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.openrelix.update-check</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BIN__</string>
    <string>__REPO_ROOT__/scripts/openrelix.py</string>
    <string>update</string>
    <string>--check</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AI_ASSET_STATE_DIR</key>
    <string>__STATE_ROOT__</string>
    <key>CODEX_HOME</key>
    <string>__CODEX_HOME__</string>
    <key>OPENRELIX_ACTIVITY_SOURCE</key>
    <string>__ACTIVITY_SOURCE__</string>
    <key>PYTHON_BIN</key>
    <string>__PYTHON_BIN__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>__UPDATE_CHECK_HOUR__</integer>
    <key>Minute</key>
    <integer>__UPDATE_CHECK_MINUTE__</integer>
  </dict>
  <key>StandardErrorPath</key>
  <string>__STATE_ROOT__/log/update-check.err.log</string>
  <key>StandardOutPath</key>
  <string>__STATE_ROOT__/log/update-check.log</string>
</dict>
</plist>
