<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.openrelix.overview-refresh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/refresh_overview.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AI_ASSET_STATE_DIR</key>
    <string>__STATE_ROOT__</string>
    <key>CODEX_BIN</key>
    <string>__CODEX_BIN__</string>
    <key>CODEX_HOME</key>
    <string>__CODEX_HOME__</string>
    <key>CLAUDE_BIN</key>
    <string>__CLAUDE_BIN__</string>
    <key>CLAUDE_CONFIG_DIR</key>
    <string>__CLAUDE_HOME__</string>
    <key>CLAUDE_HOME</key>
    <string>__CLAUDE_HOME__</string>
    <key>OPENRELIX_ACTIVITY_SOURCE</key>
    <string>__ACTIVITY_SOURCE__</string>
    <key>OPENRELIX_ACTIVITY_HOST</key>
    <string>__ACTIVITY_HOST__</string>
    <key>OPENRELIX_MODEL_CLI</key>
    <string>__MODEL_CLI__</string>
    <key>OPENRELIX_CLAUDE_MODEL</key>
    <string>__CLAUDE_MODEL__</string>
    <key>OPENRELIX_CLAUDE_SETTINGS</key>
    <string>__CLAUDE_SETTINGS__</string>
    <key>OPENRELIX_CLAUDE_ENV_FILE</key>
    <string>__CLAUDE_ENV_FILE__</string>
    <key>OPENRELIX_REFRESH_STAGE</key>
    <string>preliminary</string>
    <key>OPENRELIX_REFRESH_LEARN_MEMORY</key>
    <string>__LEARNING_REFRESH__</string>
    <key>OPENRELIX_REFRESH_LEARN_WINDOW_DAYS</key>
    <string>__LEARNING_REFRESH_WINDOW_DAYS__</string>
    <key>OPENRELIX_REFRESH_SKIP_UNCHANGED</key>
    <string>1</string>
    <key>PATH</key>
    <string>__SAFE_PATH__</string>
    <key>PYTHON_BIN</key>
    <string>__PYTHON_BIN__</string>
  </dict>
  <key>RunAtLoad</key>
  __OVERVIEW_RUN_AT_LOAD__
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>StandardErrorPath</key>
  <string>__STATE_ROOT__/log/overview-refresh.err.log</string>
  <key>StandardOutPath</key>
  <string>__STATE_ROOT__/log/overview-refresh.log</string>
</dict>
</plist>
