<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.openkeepsake.nightly-organize</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/run_with_optional_caffeinate.sh</string>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/nightly_organize_today.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AI_ASSET_STATE_DIR</key>
    <string>__STATE_ROOT__</string>
    <key>AI_ASSET_KEEP_AWAKE</key>
    <string>__KEEP_AWAKE__</string>
    <key>CODEX_HOME</key>
    <string>__CODEX_HOME__</string>
    <key>OKEEP_ACTIVITY_SOURCE</key>
    <string>__ACTIVITY_SOURCE__</string>
    <key>PYTHON_BIN</key>
    <string>__PYTHON_BIN__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>23</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardErrorPath</key>
  <string>__STATE_ROOT__/log/nightly-organize.err.log</string>
  <key>StandardOutPath</key>
  <string>__STATE_ROOT__/log/nightly-organize.log</string>
</dict>
</plist>
