<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.openrelix.overview-refresh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/refresh_overview.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AI_ASSET_STATE_DIR</key>
    <string>__STATE_ROOT__</string>
    <key>CODEX_HOME</key>
    <string>__CODEX_HOME__</string>
    <key>OPENRELIX_ACTIVITY_SOURCE</key>
    <string>__ACTIVITY_SOURCE__</string>
    <key>OPENRELIX_REFRESH_STAGE</key>
    <string>preliminary</string>
    <key>OPENRELIX_REFRESH_LEARN_MEMORY</key>
    <string>__LEARNING_REFRESH__</string>
    <key>OPENRELIX_REFRESH_LEARN_WINDOW_DAYS</key>
    <string>__LEARNING_REFRESH_WINDOW_DAYS__</string>
    <key>OPENRELIX_REFRESH_SKIP_UNCHANGED</key>
    <string>1</string>
    <key>PYTHON_BIN</key>
    <string>__PYTHON_BIN__</string>
  </dict>
  <key>RunAtLoad</key>
  __OVERVIEW_RUN_AT_LOAD__
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>StandardErrorPath</key>
  <string>__STATE_ROOT__/log/overview-refresh.err.log</string>
  <key>StandardOutPath</key>
  <string>__STATE_ROOT__/log/overview-refresh.log</string>
</dict>
</plist>
